.AddMembershipModal {
}

.membershipModalMain {
  margin-bottom: 8rem;
  min-width: 15rem;
}

.fr {
  float: right;
}

.subtitle {
  font-size: 0.8rem;
}

.bot {
  max-width: 14rem;
  font-size: 0.9rem;
  color: red;
}
