#dev-server {
  float: right;

  background-color: orangered;
  color: white;
  padding: 0.3rem;
  border-radius: 0.2rem;
}

#prod-server {
  float: right;

  background-color: dodgerblue;
  color: white;
  padding: 0.3rem;
  border-radius: 0.2rem;
}
