.HomePage {
}

.ButtonAddStudent {
  margin-top: 0.5rem;
}

.ButtonShowRemoveStudent {
  float: right;
}

.BadgeStudentCalcs {
  margin-left: 1rem;
  vertical-align: middle;
}

.BadgeStatusCount {
  margin-right: 2rem;
}
