.TableTickets {
  th {
    background-color: whitesmoke;
  }

  td {
    padding: 0.5rem;
    border: 1px solid gray;
  }

  .blank-row {
    td {
      border: none;
      background-color: whitesmoke;
    }
  }
}

.SingleTicketVendor {
  padding: 0.5rem;
  margin-top: 3rem;
  border: 1px dashed gray;

  span {
    margin-left: 1rem;
  }
}

.ButtonAddSingleTicket {
  margin-left: 2rem;
}

.BundleTicketVendor {
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding: 0.5rem;
  border: 1px dashed gray;

  td {
    padding: 0.5rem;
    border: 1px solid whitesmoke;
  }
}

.AdvandcedTicketVendor {
  margin-top: 3rem;
  padding: 0.5rem;
  color: orangered;
  border: 1px dashed orange;
}

.warning {
  color: orange;
}

.ml2 {
  margin-left: 1rem;
}

.banner {
  margin: 0;
  color: orangered;
  font-size: 0.9rem;
}

.MARSTable {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
