.LatestSubscription {
  // border: 1px solid whitesmoke;

  .display {
    padding-left: 1rem;
    border: 1px dashed gray;

    p {
      margin-top: 0;
    }
  }
}

.ChangeSubscriptionButtonGroup {
  margin-top: 1rem;
}

.SubscriptionHistory {
  margin-top: 3rem;

  td {
    padding: 0.5rem;
    border: 1px solid gray;
  }
}

.info {
  font-size: 0.9rem;
  max-width: 15rem;
}

.fr {
  float: right;
}
