.StudentInfoModule {
  table {
    border-collapse: collapse;
  }
  thead {
    text-align: left;
  }
  td {
    border-top: 1px solid gray;
  }
  p {
    margin: 0.3rem 0rem;
    font-size: 0.9rem;
  }
  .subtitle {
    font-size: 0.9rem;
  }
}
